{
  "extends": ["airbnb", "prettier", "plugin:node/recommended"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "no-console": "warn",
    "import/extensions": "off",
    "no-unused-vars": ["error", { "argsIgnorePattern": "req|res|next|val" }]
  },
  "env": {
    "node": true
  }
}
